<div id="video_area">
<%= video_tag("/videos/top-video.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content', id: "video")  %>
</div>
<div  id="wellcom"
<h1>connect to ﾈｺﾁｬﾝへようこそ！</h1>
<h2>ネコ好きのための里親募集プラットフォームです</h2>
</div>